{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<main>
  <div class="container py-5">
    <div class="row">
      <h1>Привет, я автор</h1>
      <p>
        Меня зовут Сергей.
      </p>
      <p><article class="col-12 col-md-9">
        Когда случился март 2020 года я осознал, что на случай
        потери основной работы было бы неплохо иметь альтернативу
        и начал поиски.
        Так совсем не сразу я оказался здесь.
      </article><p>
    </div>
  </div>
</main>
{% endblock %}