{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
{% comment %} Колонки с отступом сверху и снизу {% endcomment %}
<div class="row">
  <h1>Вот что я умею</h1>
  {% comment %}
    Боковой блок со списком технологий 
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        HTML
      </li>
    </ul>
  </aside>
  {% comment %}
    Статья  
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>
      Удалось освоить базовый синтаксис языка Python, разобраться в ООП
      и научиться подключать и применять сторонние библиотеки.
    </p>
    <p>
      С Django всё пошло куда тяжелее: огромное количество дополнительных
      функций, методов и аттрибутов, а также их взаимодействие с python и
      между собой все еще вынуждает часами копаться в документации и искать
      примеры в гугле.
    </p>
      И самое сложное для меня это HTMl. Просто никак. Долго и нудно пытаюсь
      вникнуть в то как же сделать шаблон, какие теги что делают, что вынести 
      в отдельный файл, а что оставить здесь. Не зря для этого есть отдельный
      курс.
    </p>
  </article>
</div>
{% endblock %}